<app-nav-bar [cartNumber]=" totalCart()"></app-nav-bar>

<div class="row">
  <div class="col-md-4" *ngFor="let product of response">
    <div class="card mb-3">
      <img [src]="product.images[0]" class="card-img-top" alt="Product Image">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">ID: {{ product.id }}</p>
        <button (click)="addToCart(product)" class="btn btn-info">+</button>
        <button (click)="removeCart(product)" class="btn btn-danger">-</button>
      </div>
    </div>
  </div>
</div>
