<app-nav-bar [cartNumber]=" totalCart()"></app-nav-bar>

<div class="row">
  <div class="col-md-4" *ngFor="let product of response">
    <div class="card mb-3">
      <img [src]="product.images[0]" class="card-img-top" alt="Product Image">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">ID: {{ product.id }}</p>
        <button (click)="addToCart(product)" class="btn btn-info">+</button>
        <button (click)="removeCart(product)" class="btn btn-danger">-</button>
      </div>
    </div>
  </div>
</div>



<h1>IMPLEMENTATION FONCTIONNALITE</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>twitter</td>
    </tr>
  </tbody>
</table>
